.main-inputs-header
{
    margin: auto;
    width: 100%;
    min-height: 80px;
    background-color: rgb(39, 41, 45);
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    padding-top: 5px;
}

#my-input-edit
{
    width: 80%;
    border-radius: 5px;
}

#my-button
{
    border: none;
    width: 100px;
    margin-right: 5px;
    border-radius: 4px;
}

.content-profile-itself
{
    width: 80%;
    background-color: rgb(255, 184, 184);
    margin: auto;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.avatar-div
{
    width: 30%;
    max-width: 200px;
    margin: auto;
}

.user-names
{
    text-align: center;
}

.avatar-div img
{
    width: 100%;
    border: solid 5px rgb(175, 175, 175);
    border-radius: 50%;
}

.levels-skills-div
{
    margin: auto;
    padding-left: 10%;
}
.skills-content
{
    margin-top: 10px;
    box-sizing:border-box;
}

.skills-values
{
    background-color: aqua;
    max-width: 200px;
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}